# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot
*.mp3

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

/mp3/


# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
mp3/2 Unlimited - No Limit.mp3
mp3/Ace of Base - All That She Wants.mp3
mp3/aespa - Jingle Bell Rock.mp3
mp3/Afroman - Because I Got High.mp3
mp3/Alexandra Stan - Mr. Saxobeat.mp3
mp3/Alok, James Hurr, & Supafly - Why I Love You So.mp3
mp3/Ariana Grande, Nicki Minaj & Jessie J - Bang Bang.mp3
mp3/Ash - Burn Baby Burn.mp3
mp3/Ash - Shining Light.mp3
mp3/Avicii - Waiting For Love.mp3
mp3/Avicii - Wake Me Up.mp3
mp3/B_Witched - C'est La Vie.mp3
mp3/Backstreet Boys - Everybody (Backstreet's Back).mp3
mp3/Band Aid - Do they know it's christmas.mp3
mp3/Bebe Rexha - Count on Christmas.mp3
mp3/Bill Medley & Jennifer Warnes - (I've Had) The Time Of My Life.mp3
mp3/Billy Ray Cyrus - Achy Breaky Heart.mp3
mp3/Blur - Parklife.mp3
mp3/Bob Marley & The Wailers - Three Little Birds.mp3
mp3/Brenda Lee - Rockin' Around The Christmas Tree.mp3
mp3/Britney Spears - Baby One More Time.mp3
mp3/Bruce Springsteen - Dancing In the Dark.mp3
mp3/BTS - Dynamite.mp3
mp3/Bubble & Squeak - The Christmas Stick.mp3
mp3/Calvin Harris - Feels (feat. Katy Perry).mp3
mp3/Calvin Harris & Dua Lipa - One Kiss.mp3
mp3/Carly Rae Jepsen - Call Me Maybe.mp3
mp3/Cher - DJ Play a Christmas Song.mp3
mp3/Chesney Hawkes - The One And Only.mp3
mp3/Chris Rea - Driving Home For Christmas.mp3
mp3/Chumbawamba - Tubthumping.mp3
mp3/Clarence Carter - Back Door Santa.mp3
mp3/Cliff Richard - Mistletoe & Wine.mp3
mp3/Coldplay - A Sky Full of Stars.mp3
mp3/Coldplay - Viva La Vida.mp3
mp3/Creedence Clearwater Revival - Bad Moon Rising.mp3
mp3/Crowded House - Don't Dream It's Over.mp3
mp3/Cutting Crew - (I Just) Died In Your Arms.mp3
mp3/Cyndi Lauper - Girls Just Want to Have Fun.mp3
mp3/Cyndi Lauper - Time After Time.mp3
mp3/Daft Punk - Around the World.mp3
mp3/David Guetta & Bebe Rexha - I'm Good (Blue).mp3
mp3/Diana Ross - Upside Down.mp3
mp3/Dodgy - Staying Out For The Summer.mp3
mp3/Eagles - Please Come Home for Christmas.mp3
mp3/Fatboy Slim - Praise You.mp3
mp3/Franz Ferdinand - Take Me Out.mp3
mp3/Gabry Ponte, LUM!X & Daddy Dj - We Could Be Together.mp3
mp3/George Harrison - Got My Mind Set on You.mp3
mp3/Girls Aloud - Love Machine.mp3
mp3/Guns N' Roses - Paradise City.mp3
mp3/Guns N' Roses - Sweet Child O' Mine.mp3
mp3/Hanson - MMMBop.mp3
mp3/James - Sit Down.mp3
mp3/Jessie J - Domino.mp3
mp3/Journey - Don't Stop Believin'.mp3
mp3/Kasabian - Club Foot.mp3
mp3/Kasabian - Fire.mp3
mp3/Kelly Clarkson - Christmas Isn't Canceled (Just You).mp3
mp3/Kelly Clarkson - My Life Would Suck Without You.mp3
mp3/KONGOS - Come with Me Now.mp3
mp3/Kylie Minogue - Santa Baby.mp3
mp3/LeAnn Rimes - Can't Fight the Moonlight.mp3
mp3/Lizzo - About Damn Time.mp3
mp3/Lolly - Mickey.mp3
mp3/Lost Frequencies & Calum Scott - Where Are You Now.mp3
mp3/Madonna - Hung Up.mp3
mp3/Mariah Carey - All I Want For Christmas Is You.mp3
mp3/Maroon 5 - Memories.mp3
mp3/Maroon 5 - Sugar.mp3
mp3/Michael Jackson - Billie Jean.mp3
mp3/Modjo - Lady (Hear Me Tonight).mp3
mp3/Myles Smith - Stargazing.mp3
mp3/Natalie Imbruglia - Torn.mp3
mp3/New Rules - Might Ruin Christmas.mp3
mp3/NSYNC - Bye Bye Bye.mp3
mp3/Oasis - Champagne Supernova.mp3
mp3/Ocean Colour Scene - The Day We Caught The Train.mp3
mp3/Olly Murs - Dance With Me Tonight.mp3
mp3/Outkast - Hey Ya!.mp3
mp3/P!NK - Get the Party Started.mp3
mp3/Panic! At The Disco - High Hopes.mp3
mp3/Queen - Crazy Little Thing Called Love.mp3
mp3/R.E.M. - It's The End Of The World As We Know It (And I Feel Fine).mp3
mp3/R3HAB & A Touch Of Class - All Around The World (La La La).mp3
mp3/Razorlight - America.mp3
mp3/Rema & Selena Gomez - Calm Down.mp3
mp3/Ricky Martin - Livin' La Vida Loca.mp3
mp3/RUN-DMC - It's Like That.mp3
mp3/S Club - Bring It All Back.mp3
mp3/Sabrina Carpenter - Espresso.mp3
mp3/SAINt JHN - Roses (Imanbek Remix).mp3
mp3/Savage Garden - I Want You.mp3
mp3/Shaboozey - A Bar Song (Tipsy).mp3
mp3/Shania Twain - Man! I Feel Like A Woman.mp3
mp3/Shania Twain - That Don't Impress Me Much.mp3
mp3/Shawn Mendes - There's Nothing Holdin' Me Back.mp3
mp3/Sia - Santa's Coming For Us.mp3
mp3/Solomon Burke - Presents For Christmas.mp3
mp3/Spice Girls - Wannabe.mp3
mp3/Stealers Wheel - Stuck In The Middle With You.mp3
mp3/Stephen Sanchez - Until I Found You.mp3
mp3/Stereophonics - Dakota.mp3
mp3/Stevie Wonder - Superstition.mp3
mp3/Taio Cruz - Dynamite.mp3
mp3/Taylor Swift - Shake It Off.mp3
mp3/The Bangles - Walk Like an Egyptian.mp3
mp3/The Beatles - All You Need Is Love.mp3
mp3/The Cardigans - Lovefool.mp3
mp3/The Chainsmokers & Coldplay - Something Just Like This.mp3
mp3/The Chemical Brothers - Hey Boy Hey Girl.mp3
mp3/The Cranberries - Zombie.mp3
mp3/The Ronettes - Sleigh Ride.mp3
mp3/The Weeknd - Blinding Lights.mp3
mp3/Toploader - Dancin' in the Moonlight.mp3
mp3/Toto - Africa.mp3
mp3/Travis - Flowers In The Window.mp3
mp3/U2 - Beautiful Day.mp3
mp3/U2 - With Or Without You.mp3
mp3/Wham! - Last Christmas.mp3
mp3/Whitney Houston - I Wanna Dance with Somebody (Who Loves Me).mp3
